body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 80px 40px 40px 80px; /* Increase top and left padding */
}

h1 {
    margin: 0 0 0 5px; /* Add left margin */
    font-weight: 300; /* Lighter font weight */
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-item {
    width: 300px;
    margin: 5px;
}

.image-item img {
    width: 100%;
    transition: opacity 0.3s ease;
}

.image-item img:hover {
    opacity: 0.7;
}